{% extends 'base.html' %}

{% block title %}Enlace Enviado - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                <h3 class="card-title">Revisa tu correo electrónico</h3>
            </div>
            <div class="card-body">
                <p>Te hemos enviado un correo electrónico con un enlace para restablecer tu contraseña. Si no lo ves, por favor, revisa tu carpeta de spam.</p>
                <p>Si el correo asociado a tu cuenta es incorrecto, es posible que no recibas el mensaje.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Volver a la página principal</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}